

.clas1{
    background-color:black;
    color: blanchedalmond;
    font-weight: 700;
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin: 10% 0 0 0;
    
}
.clas2{
    color: #c0c0c0; 
    background-color: brown;
    font-style: italic;
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10% 0 0 0;
}

body{
    text-align: center;
}